<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>my pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" [status]="'On Hold'" [createdAt]="'22/12/2022'" [updatedAt]="'12/12/2022'" [notes]="'We have two bags full'"></app-pickup-call-card>

  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" [status]="'Processing'" [createdAt]="'12/10/2022'" [updatedAt]="'12/12/2022'" [notes]="'We have three bags full'"></app-pickup-call-card>

  <app-pickup-call-card [hasHeader]="false" [hasFooter]="false" [status]="'Finished'" [createdAt]="'10/10/2021'" [updatedAt]="'12/12/2021'" [notes]="'We have two bags full lorem ipsjfsjadfhbqfbbqfbwefbwefwefwefwefwefwefwefwefwef'" [isFinished]="true"></app-pickup-call-card>
</ion-content>
