<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Recicc</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Recicc</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="profile">
      <ion-item>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Paulo</h1>
          <p>Gathered: <span class="money">$15.00</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <app-pickup-call-card [hasHeader]="true" [hasFooter]="true" [status]="'On Hold'" [createdAt]="'22/12/2022'" [updatedAt]="'12/12/2022'" [notes]="'We have two bags full'"></app-pickup-call-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

</div>
